# EditorConfig is awesome: https://EditorConfig.org
# Google Java Style alignment for this project

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true


[*.java]
indent_style = space
indent_size = 2
# Some editors support this continuation indent setting
ij_continuation_indent_size = 4
max_line_length = 100

# IntelliJ IDEA specific settings (recognized via .editorconfig)
# Avoid star imports, keep imports explicitly listed
ij_java_class_count_to_use_import_on_demand = 999
ij_java_names_count_to_use_import_on_demand = 999

# Import layout: static imports first, then a blank line, then other imports
ij_java_imports_layout = import static all other imports | blank | import all other imports

# General IntelliJ Java formatting preferences matching Google style
ij_java_use_tab_character = false
ij_java_keep_line_breaks = true
ij_java_wrap_long_lines = false
